.logo,
.bars {
    display: none;
}

.headline-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .bg-image1 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2GzQLFM');
    background-repeat: no-repeat;
    height: 424px;
}

.bg-image2 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/3ixcqM0');
    background-repeat: no-repeat;
    height: 200px;
}

.bg-image3 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2Sqlyrn');
    background-repeat: no-repeat;
    height: 200px;
}

.hide {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
}

.d-flex {
    display: flex;
}

.column-post {
    flex-direction: column;
}

.newspost-images img{
    width: 240px;
    height: 190px;
}

.posts-details {
  width: 230px;
}

.funds-grid {
    width:320px;
}

.ico-funds-row {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap: 10px;
}

.hardfork-section-new {
    display: grid;
    grid-template-columns: 362px 362px;
    grid-gap: 10px;
    margin-left: 0.5rem;
}

.footer-container i {
    color: white;
    border-radius: 80%;
    padding: 10px;
    background-color: #505050;
    margin-left: 10px;
}

.footer-links a,
  .social-icons a {
      text-decoration: none;
      color: lightgrey;
      font-size: 16px;
  }

  .second-line {
    background-color: #181818;
    width: 100%;
    height: 150px;
    font-size: small;
    color: gray;
  }

  .second-line img {
      width: 70px;
      height: 40px;
  }

  .flex-center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

.bottom-section{
    display: none;
}
