* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

nav {
  border-bottom: 1px solid lightgray;
}

.logo {
  background-color: black;
  padding: 1rem;
  height: 30px;
  width: 90px;
}

.bars {
  font-size: 24px;
  margin-left: 8rem;
}

.bars i {
    border-left: 1px solid lightgray;
    height: 46px;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
    padding-top: 1rem;
}

.red {
    color: red;
}

.grey {
    color: gray
}

/* .headline-container {
    border: 1px solid black;
} */

.date {
    display: none;
}

.headline-post {
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 0.5rem;
}

.bg-image1 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2GzQLFM');
    background-repeat: no-repeat;
    height: 200px;
}

.bg-image2 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/3ixcqM0');
    background-repeat: no-repeat;
    height: 200px;
}

.bg-image3 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2Sqlyrn');
    background-repeat: no-repeat;
    height: 200px;
}

.post-details i{
    padding-left: 1rem;
}

.post-details p {
    padding-left: 4px;
}

.news-container {
    padding-left: 0.5rem;
}

.section-title {
    color: orangered;
    font-size: 28px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.news-post {
    margin: 0.5rem;
}

.posts-details {
    padding-left: 0.6rem;
    width: 200px;
}

.newspost-images img{
    width: 120px;
    height: 120px;
}

.funds-info-details {
    color: orangered;
    padding: 0.5rem;
}

.funds-grid {
    margin-top: 2rem;
    padding: 0.5rem;
}

.ico-funds img{
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 1;
}

.ico-funds h4 {
 background-color: orangered;
 height: 2.8rem;
 color: white;
 font-size: 20px;
 position: relative;
 padding-left: 7rem;
 padding-top: 1rem;
}

.funds-raises-detail {
height: 60px;
background-color: lightpink;
position: relative;
}

.instacart,
.malomo,
.venture {
    margin-bottom:2rem;
} 

.spacing {
    padding-left: 7rem;
    padding-top: 0.2rem;
}

.address-details {
    background-color: #fffaf8;
    height: 11rem;
    padding-top: 1rem;
    padding-left: 1rem;
    
}

.Company-name {
    padding-left: 0.7rem;
}

.ico-details {
    padding-top: 2rem;
}


