* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

nav {
  border-bottom: 1px solid lightgray;
  position: fixed;
  background-color: white;
  margin-top: -0.2rem;
  width: 100%;
  z-index: 2
}

.logo {
  background-color: black;
  padding: 1rem;
  height: 30px;
  width: 90px;
}

.bars {
  font-size: 24px;
  margin-left: 8rem;
}

.bars i {
    border-left: 1px solid lightgray;
    height: 46px;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
    padding-top: 1.3rem;
}

.red {
    color: red;
}

.grey {
    color: gray
}

.date {
    display: none;
}

.headline-post {
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 0.5rem;
}

.bg-image1 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2GzQLFM');
    background-repeat: no-repeat;
    height: 200px;
}

.bg-image2 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/3ixcqM0');
    background-repeat: no-repeat;
    height: 200px;
}

.bg-image3 {
    margin: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2Sqlyrn');
    background-repeat: no-repeat;
    height: 200px;
}

.post-details i{
    padding-left: 1rem;
}

.post-details p {
    padding-left: 4px;
}

.news-container {
    padding-left: 0.5rem;
}

.section-title {
    color: orangered;
    font-size: 28px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.news-post {
    margin: 0.5rem;
}

.posts-details {
    padding-left: 0.6rem;
    width: 200px;
}

.newspost-images img{
    width: 120px;
    height: 120px;
}

.funds-info-details {
    color: orangered;
    padding: 0.5rem;
}

.funds-grid {
    margin-top: 2rem;
    padding: 0.5rem;
}

.ico-funds img{
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 1;
}

.ico-funds h4 {
 background-color: orangered;
 height: 2.8rem;
 color: white;
 font-size: 20px;
 position: relative;
 padding-left: 7rem;
 padding-top: 1rem;
}

.funds-raises-detail {
height: 60px;
background-color: lightpink;
position: relative;
}

.instacart,
.malomo,
.venture {
    margin-bottom:2rem;
} 

.spacing {
    padding-left: 7rem;
    padding-top: 0.2rem;
}

.address-details {
    background-color: #fffaf8;
    height: 10rem;
    padding-top: 1rem;
    padding-left: 1rem;
    
}

.Company-name {
    padding-left: 0.7rem;
}

.ico-details {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid orangered;
    font-size: smaller;
}

.flex-down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.article-hardfork-title {
  font-size: 28px;
  color: orangered;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.text-and-image {
    background-color:  #fffaf8;
    color: orangered;
    padding-left: 1rem;
    height: 5.3rem;
    padding-top: 1rem;
    width: 224px;
}

.articles-bullet {
    margin-left: 1.5rem;
}

.articles-bullet li {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.img1 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://bit.ly/2GzQLFM');
    height: 200px;
}

.img2 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Netflix-Featured_1-796x417.jpg');
    height: 200px;
    background-repeat: no-repeat;
}
  
  .img3 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F10%2FCropped-Apple-iPhone-2020-October-Event-hed.jpg&signature=7f856702b0d7d653b6c21385829d4191');
    height: 200px;
    background-repeat: no-repeat;
}
  
  .img-textandimg1 {
    background-image: url('https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F10%2Fimage-2-3.png&signature=46eb8974a30417f8bb01e6dd9323c395');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}
  
  .img-textandimg2 {
    background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/08/Untitled-design-2020-08-11T182518.964-796x417.png');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}
  
  .img-textandimg3 {
    background-image: url('https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F10%2FSnag_2c5b02a1.png&signature=6089850ac90dcda000429fe9ad802e62');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

.img-textandimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    margin-left: 14.2rem;
    margin-top: -5.8rem;
  }

  .background {
      background-color: #383838;
      height: 200px;
      width: 100%;
  }

  .center {
      text-align: center;
  }

  .footer-container i {
      color: white;
      border-radius: 80%;
      padding: 5px;
      background-color: #505050;
  }

  .footer-links ul{
      list-style-type: none;
  }

  .footer-links li {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .footer-links a,
  .social-icons a {
      text-decoration: none;
      color: lightgrey;
      font-size: 12px;
  }

  .social-icons {
      padding-top: 50px;
  }

  .bottom-section {
  background-color: #181818;
  width: 100%;
  height: auto;
  }

  .bottom-section img {
      height: 20px;
      width: 30px;
  }

  .footer-links {
    padding-bottom: 2rem;
    margin-bottom: -20px;
  }

  .column-center{
      justify-content: center;
      align-items: center;
  }

  .bottom-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
  }

  .flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .single-line {
      display: inline;
      font-size: small;
  }

  .footer-fontsize {
      font-size: small;
  }
